@media only screen and (min-width: 606px) {
    /* HEADER */
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #logo{
        max-width: 110px;
        margin: 0.3rem;
        padding: 0.4rem;
    }
    /* NAVIGATION */
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
    }
    nav a{
        padding: 1rem;
        font-weight: bold;
    }
    
    /* MAIN */
    .recipe-preview{
        /* each recipe preview */
        max-width: 250px;

    }

    #section-recipes{
        margin-top: 30px;
    }
    #search_bar{
        margin:0 auto;
        padding: 0.5rem;
        width: 40%;
    }
    #categories a, #countries button, #meals button, #countries-section button{
    font-size: 22px;
    }
    #categories, #countries, #meals{
        display: inline-block;
        padding: 0.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
    }
}