/* GLOBAL */
html {
    font-family: 'Montserrat'; 
    font-size: 1rem;
    box-sizing: border-box;
} 
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    /* background-image: url('../src/images/'); */
    background-color: #EB4511;
    font-size: 18px;
}  
header, nav, main{
    padding: 1rem;
    background-color: #D6CA98;
}

header{
    max-width: 100%;
}
h1,h2,h3 {
    color: #34344A;
    font-size: 1.5rem;
}
p {
    color: #34344A;
}
img {
    max-width: 100%;
    display: block;

}
a {
    text-decoration: none;
    color: #34344A;
    font-weight: bold;
}
a:hover{
    color:#B02E0C;
}
button{
    font-weight: bold;
    font-size: 22px;
    padding: 0.7rem;
    border-radius: 30px;
}
button:hover{
    background-color: #671a07;
    color:#cecdc8;
    border: 1px #EB4511 solid;
}

/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    max-width: 40%;
}

/* NAVIGATION */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}
nav a{
    padding: 1rem;
    font-weight: bold;
}



/* FOOTER */

footer {
    background-color: #34344A;
    text-align: center;
    padding: 1rem;
    color: #D6CA98;
    max-width: 100%;
  }

/* MAIN */
#home-page p, #meals-page p, #countries-section p{
    background-color: #34344A;
    color: #D6CA98;
    padding: 0.4rem;
    text-align: center;
    
}
#title{
    font-size: 24px;
    text-align: center;
}
#search_bar_form{
    font-size: 20px;
    padding: 0.3rem;
    display: inline-block;
    border: none;
    width: 100%;
    text-align: center;
}
#search_bar{
    background-color: #cecdc8;
    margin:0 auto;
    padding: 0.3rem;
    width: 70%;
}
/* THIS WILL MOVE TO LARGE VIEW WHEN I ADD SMALL VIEW DESIGN */
#categories, #countries{
    display: inline-block;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#categories a, #countries button, #meals button, #countries-section button{
    background-color: #B02E0C;
    color:#D6CA98;
    font-weight: bold;
    font-size: 22px;
    padding: 0.7rem;
    border: 1px #671a07 solid;
    border-radius: 30px;

}
#categories a:hover, #countries button:hover, #meals button:hover, #countries-section button:hover{
    background-color: #671a07;
    color:#cecdc8;
    border: 1px #EB4511 solid;
}

#meals{
    /* the div where these buttons are */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
    max-width: 100%;
}

.recipe-preview{
    /* each recipe preview */
    background-color: #c6a068;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0.2rem;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    width: 260px;

}

#section-recipes{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    margin-top: 10px;
    max-width: 100%;
}

#section-recipes img{
    max-width: 200px;
}

#section-recipes a{
    padding: 0.5rem;
    margin: 0.7rem;
    background-color: #D6CA98;
    border-radius: 30px;
}

#section-recipes a:hover{
    color:#B02E0C;
    border: 1px #B02E0C solid;
}


