/* GLOBAL */
html {
    font-family: 'Montserrat'; 
    font-size: 1rem;
    box-sizing: border-box;
} 
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    /* background-image: url('../src/images/'); */
    background-color: #EB4511;
}  
header, nav, main{
    padding: 1rem;
    background-color: #D6CA98;
}

h1,h2,h3 {
    color: #34344A;
    font-size: 1.5rem;
}
p {
    color: #34344A;
}
img {
    max-width: 100%;
    display: block;

}
a {
    text-decoration: none;
    color: #34344A;
}

/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    max-width: 40%;
}

/* NAVIGATION */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



/* FOOTER */

footer {
    background-color: #34344A;
    text-align: center;
    padding: 1rem;
    margin: 0.7rem;
  }

/* MAIN */